/* ********************************************/
/* ABOUT PAGE */
/* ****************************************** */

.about-nav {
  font-weight: 700;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
}

.about-page__container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.about-page__header {
  margin-top: 3rem;
}

.about-page__content {
  display: flex;
  justify-content: space-between;
}

.about-page__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2.4rem;
  line-height: 2.9rem;
  max-width: 78rem;
  padding-right: 2rem;
}

.about-page__content a:link {
  text-decoration: underline;
}

.about-page__img-box {
  max-width: 40rem;
}

.about-page__img {
  width: 100%;
}
