/* 

--- 01 TYPOGRAPHY SYSTEM

Font sizes (px): 
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Normal: 500
Semi-Bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

-Letter spacing
0.5px
0.75px

--- 02 COLORS

- Primary:
- Tints: 
- Shades: 
- Accents:
- Greys:
#767676 (lightest grey allowed on white)
#555
#333
#6f6f6f (lightest grey allowed on #fdf2e9) 


--- 05 SHADOWS
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


--- 06 BORDER_RADIUS
Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* ********************************************/
/* RECIPE VIEW */
/* ****************************************** */

/* h1 {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 7.7rem;
} */

button {
  font-family: inherit;
  font-size: 1.4rem;
  background-color: #1c1c1c;
  color: #fff;
  border: none;
}

.recipes-nav {
  font-weight: 700;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin-top: 4rem;
}

.short-description {
  font-size: 2.4rem;
  margin-bottom: 7rem;
}

.recipe-container__content {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  gap: 1.5rem;
}
.recipe-info {
  flex-basis: 83.8rem;
  flex-grow: 1;
}

.about__content,
.specs__content,
.similar-to__content {
  max-width: 70.8rem;
  font-size: 2rem;
  line-height: 3.2rem;
  row-gap: 4rem;
  /* padding-top: 5.6rem; */
}

.content-container {
  width: 100%;
  padding-left: 4rem;
}

.recipe-info__content {
  display: none;
}

.content--active {
  display: grid;
  justify-content: center;
}

/********************
Tabs
*********************/
.recipe-info__tab-container {
  width: 100%;
  border-bottom: 0.1rem solid #5e5e5e;
  margin-bottom: 5.6rem;
}

.recipe-info__tab {
  font-size: 1.4rem;
  line-height: 1.7rem;
  min-width: 11.6rem;
}

.tab--active {
  border-bottom: 0.3rem solid #fff;
  padding-bottom: 1rem;
}

/********************
About Section
*********************/

.tag-list {
  list-style: none;
}

.tag-element {
  display: inline;
  /* border-bottom: 0.1rem solid #fff;
  padding-bottom: 0.2rem; */
}

.tag-link {
  text-decoration: underline;
}

/********************
Specs Section
*********************/

.specs__content {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
}

.ingredient-amounts {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ingredient-names {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.recipe-instructions {
  grid-column: span 2;
}

/********************
Similar To Section
*********************/

.similar-to__content {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  justify-items: space-between;
}

.similar-to__img-box {
  max-width: 20.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similar-to__img {
  width: 100%;
}

/********************
COCKTAIL IMG
*********************/
.recipe-img {
  flex-basis: 40.4rem;
}

.cocktail-img {
  width: 100%;
  padding-top: 3rem;
}
