/* 

--- 01 TYPOGRAPHY SYSTEM

Font sizes (px): 
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Normal: 400
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

-Letter spacing
0.5px
0.75px

--- 02 COLORS

- Primary:
text: #ffffff; 
background: #1C1C1C;

- Tints: 
- Shades: 
- Accents:
- Greys:



--- 05 SHADOWS
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


--- 06 BORDER_RADIUS
Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 1.6 rem === 16px */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Precentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Barlow', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  background-color: #1c1c1c;
  height: 100%;

  /* Only works if nothing is absolutely positioned in relation to body */
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

/* ********************************************/
/* GENERAL REUSABLE COMPONENTS */
/* ****************************************** */

.container {
  max-width: 144rem;
  padding: 4rem 8.4rem;
  margin: 0 auto;
  background-color: #1c1c1c;
}

h1 {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 7.7rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  font-family: inherit;
  font-size: 1.4rem;
  background-color: #1c1c1c;
  color: #fff;
  border: none;
}

/* For attaching to body when nav menu is open */
.fixed {
  position: fixed;
}

.error-msg,
.error-msg a:link {
  font-size: 3rem;
  line-height: 3.6rem;
}
.error-msg {
  text-align: center;
  padding: 10rem;
  max-width: 82rem;
  align-self: center;
}

/* ********************************************/
/* NAVIGATION */
/* ****************************************** */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  /* padding: 4rem 7.9rem 0; */
  margin: 0 auto;
  width: 100%;
}

.nav-header {
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 4.1rem;

  color: #ffffff;
}

.nav-list {
  list-style: none;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 2.4rem;
}

.navigate-back-link a:link,
.navigate-back-link a:visited {
  color: #5e5e5e;
  border-bottom: 0.1rem solid #5e5e5e;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}

.hamburger-icon {
  display: none;
  gap: 2rem;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  content: '';
  height: 12px;
  width: 32px;
}
